body{
    font-size: 20px;
   text-align: center;
margin-top: 150px;
    background-color:#bfdbfe ;
} 

#is-Triangle-btn{
    border-radius: 15px;
    color: white;
      padding: 15px;
      font-size: 20px;
    background-color: #1e3a8a;
}

.text{
    display: inline;
    color: white;
    padding: 20px;
    text-decoration: none;
}
    
.navigation {
    display:inline-flex;
padding: 20px;
   border-radius: 20px;
  background-color: #1e3a8a;
}